.header {

  &__container {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
  }
    padding: 22px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        margin-left: 60px;

    }

    &__list {
        display: flex;
        justify-content: space-between;
        // width: 300px;
    }

    &__contact {
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
      padding: 14px 39px;
      background-color: #FCB72B;
      text-decoration: none;
    }

    &__contact1 {
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
      padding: 14px 39px;
      background-color: #FCB72B;
      text-decoration: none;
      width: 130px;
      align-items: center;
      margin: 0 auto;
      margin-top: 35px;
    }

}
.list {
  &__item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    margin-left: 32px;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
  }
}

.span {
    display: none;
    position: absolute;
    transform: translateX(144px);
    top: 38px;


}
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    position: absolute;
    // transform: translateX(1050px);
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

@media screen and (max-width: 768px) {

  .header__logo {
    max-width: 107px;
  }

  .list {
    padding: 0;
  }
  .header__wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 375px) {

  .header__logo {
    max-width: 107px;
    align-items: center;
  }
  .logo {
    display: block;
    align-items: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;
  }
  .header__wrapper {
    display: none;
  }
  .span {
    display: block;
    // align-items: center;
    transform: translateX(37px);
    top: 44px;
    color: #FCB72B;
  }
}